@import "../mixins";
@import "../config";
@import "../components/icons.scss";

body {
	font-family: $fontFamily;
	min-height: 100vh;
	overflow-x: hidden;
	input, select, textarea{
		font-family: $fontFamily;
	}
	* {
		box-sizing: border-box;
		outline: 0;
	}
	@media screen and (max-width: $tablet){
		padding-top: 75px;
	}
}
ul{
	margin: 0;
	padding: 0;
}

.circleButton{
	width: 219px;
	height: 219px;
	background: $cMain;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	text-decoration: none;
	line-height: 1.25;
	&__text{
		font-size: 33px;
		font-weight: 300;
		text-transform: uppercase;
		color: $cWhite;
		text-align: center;
	}
	&:hover{
		background: $cSemiGray;
	}
	@media screen and (max-width: $full){
		width: 170px;
		height: 170px;
		&__text{
			font-size: 26px;
		}
	}
	@media screen and (max-width: $hd){
		width: 140px;
		height: 140px;
		&__text {
			font-size: 20px;
		}
	}
}
.button{
	background: $cDarkGray;
	padding: 0 50px;
	border:none;
	text-decoration: none;
	text-transform: uppercase;
	color: rgba($cWhite,0.6);
	font-size: 24px;
	font-weight: 300;
	cursor: pointer;
	&:hover{
		background: rgba($cWhite, 0.6);
		color: $cDarkGray;
	}
	@media screen and (max-width: $full){
		padding: 0 35px;
		font-size: 20px;
	}
	@media screen and (max-width: $small){
		padding: 0 20px;
		font-size: 16px;
	}
}

.header{
	padding-bottom: 55px;
	display: flex;
	justify-content: space-between;
	&__logo{
		padding-top: 20px;
		margin-left: columns(2,2);
	}
	
	@media screen and (max-width: $full){
		padding-bottom: 40px;
		&__logo{
			margin-left: 10px;
			padding-top: 10px;
		}
	}
	@media screen and (max-width: $hd){
		padding-bottom: 10px;
		&__logo{
			width: 80px;
			img{
				max-width: 100%;
			}
		}
	}
	@media screen and (max-width: $tablet){
		padding: 0;
		position: fixed;
		background: $cWhite;
		left: 0;
		top: 0;
		width: 100%;
		height: 75px;
		z-index: 5;
		&__logo{
			width: 55px;
		}
	}
}

.topMenu{
	line-height: 1;
	display: flex;
	position: relative;
	padding-right: columns(1, 0);
	&:after{
		content:"";
		position: absolute;
		right: 0;
		bottom: 0;
		height: 13px;
		background: $cMain;
		width: 100%;
		z-index: 2;
	}
	&__list{
		list-style: none;
		position: relative;
		z-index: 3;
		padding-right:60px;
		background: $cWhite;
		padding-top: 87px;
		&:last-child{
			padding-right: 20px;
		}
		&:before{
			content:"";
			width: 1px;
			height: 80px;
			opacity: 0.11;
			background: $cDarkGray;
			position: absolute;
			top: 0;
			left: 0;
		}
		&.active, &:hover {
			&:before {
				opacity: 1;
			}
			.topMenu{
				&__link{
					color: $cSemiGray;
				}
			}
		}
	}
	&__link{
		font-size: 18px;
		font-weight: 300;
		color: $cMain;
		text-decoration: none;
		text-transform: uppercase;
	}

	@media screen and (max-width: $full){
		padding-right: 10px;
		&__list{
			padding-right: 40px;
		}
	}
	@media screen and (max-width: $hd){
		&__list{
			padding-top: 40px;
			padding-right: 25px;
			&:before{
				height: 38px;
			}
		}
		&__link{
			font-size: 17px;
		}
	}
	@media screen and (max-width: $tablet){
		display: none;
	}
}

.blockSlider{
	background: $cWhite;
	position: relative;
	&__slide{
		height: 100%;
		padding-left: columns(2, 2);
		padding-top: 155px;
	}
	&__text{
		font-size: 80px;
		font-weight: 300;
		line-height: (86/80);
		color: $cText;
		text-transform: uppercase;
		margin-bottom: 55px;
		max-width: 700px;
		position: relative;
		z-index: 5;
		&.js-animate {
			opacity: 0;
			transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
			transform: translateY(-5%);
			transition-delay: 0.4s;
		}
		&.animation {
			opacity: 1;
			transform: translateX(0);
		}
		&--smallerColored{
			font-size: 60px;
			line-height: (66/60);
			color: $cMain;
		}
	}
	
	.owl-carousel{
		height: get-vw(1080px);
	}
	.owl-stage, .owl-stage-outer, .owl-item{
		height: 100%;
	}
	.owl-dots{
		position: absolute;
		top: 80px;
		left: columns(1,1);
		counter-reset: dots;
		font-size: 24px;
		font-weight: 300;
		line-height: 1;
		color: rgba($cMain, 0.5);
	}
	.owl-dot{
		counter-increment: dots;
		margin-bottom: 45px;
		position: relative;
		&:last-child{
			margin-bottom: 0;
		}
		&:before{
			content: counter(dots, decimal-leading-zero) ".";
		}
		&:after {
			content: "";
			position: absolute;
			bottom: -10px;
			left: 0;
			height: 2px;
			width: 0;
			background: $cMain;
			transition: width 1s ease-in-out;
			will-change: width;
		}
		&.active{
			color: $cMain;
			&:after{
				width: 417px;
			}
		}
	}

	@media screen and (max-width: $full){
		&__slide{
			padding-top: 70px;
			padding-left: 20px;
			padding-right: 20px;
		}
		.owl-dots{
			display: flex;
			left: 20px;
			top: 0;
		}
		.owl-dot{
			margin-bottom: 0;
			margin-right: 40px;
			&.active{
				&:after{
					width: 100%;	
				}
			}
		}
	}
	@media screen and (max-width: $hd){
		display: none;
	}
}

.slider1{
	&__bg{
		background: url(../images/banner_bg.png) $cWhite 100% 50% no-repeat;
		background-size: cover;
		width: get-vw(1405px);
		height: get-vw(976px);
		position: absolute;
		top: get-vw(20px);
		right: get-vw(60px);
		&.js-animate {
			opacity: 0;
			transition: opacity 0.8s ease-in-out;
		}
		&.animation {
			opacity: 1;
		}
	}
	&__lines {
		background: url(../images/bg_lines.png) 50% 50% no-repeat;
		background-size: cover;
		width: get-vw(1271px);
		height: get-vw(1054px);
		position: absolute;
		right: get-vw(80px);
		top: 0;
		&.js-animate {
			opacity: 0;
			transition: opacity 0.8s ease-in-out;
			transition-delay: 1s;
		}
		&.animation {
			opacity: 1;
		}
	}
	&__particles{
		background: url(../images/bg_perticles.png) 50% 50% no-repeat;
		background-size: cover;
		width: get-vw(420px);
		height: get-vw(418px);
		position: absolute;
		left: 0;
		bottom: get-vw(-15px);
		&.js-animate {
			opacity: 0;
			transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
			transform: scale(0.96);
			transition-delay: 1.8s;
		}
		&.animation {
			opacity: 1;
			transform: scale(1);
		}
	}
}

.downArrow{
	@include icon(down_arrow);
	font-size: 72px;
	line-height: 1;
	color: $cSemiGray;
	cursor:pointer;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	right: get-vw(125px);
	bottom: get-vw(75px);
	z-index: 55;
	&:hover{
		color: $cMain;
	}
}

.blockText{
	min-height: 790px;
	width: 100%;
	background: url(../images/block2_bg.png) 50% 0 no-repeat;
	background-size: cover;
	margin-bottom: -75px;
	position: relative;
	z-index: 3;
	&__inner{
		padding:150px columns(2,2);
	}
	&__textBox{
		width:columns(10,9);
		position: relative;
	}
	&__title{
		font-size: 60px;
		font-weight: 300;
		color: $cWhite;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	&__subtitle{
		font-size: 40px;
		font-weight: 300;
		color: $cMain;
		text-transform: uppercase;
	}
	&__text{
		padding-right: columns(1,1);
		color: $cWhite;
		font-size: 16px;
		font-weight: 400;
		line-height: (26/16);
		padding-top: 20px;
		p{
			margin: 1.5em 0;
			&:last-child{
				padding-right:columns(3,2);
				margin-bottom: 0;
			}
		}
	}
	&__link{
		position: absolute;
		bottom: -140px;
		right: 0;
	}
	@media screen and (max-width: $hd){
		min-height: 0;
		margin-top: -20px;
		&__inner{
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 80px;
			padding-top: 80px;
		}
		&__textBox{
			width: 100%;
		}
		&__link{
			bottom: -55px;
		}
		&__title{
			font-size: 48px;
		}
		&__subtitle{
			font-size: 36px;
		}
		&__text{
			padding-right: 0;
		}
	}
	@media screen and (max-width: $small){
		background: #55656D;
		margin-bottom: 0;
		margin-top: 0;
		&__inner{
			padding: 20px;
		}
		&__link{
			bottom: 0;
			display: none;
		}
		&__text{
			padding-top: 0;
			p{
				&:last-child{
					padding-right: 0;
				}
			}
		}
	}
	@media screen and (max-width: $xsmall){
		&__inner{
			padding: 10px;
		}
		&__title{
			font-size: 32px;
		}
		&__subtitle{
			font-size: 24px;
		}
		&__text{
			font-size: 14px;
		}
	}
}

.blockNews{
	width: 100%;
	background: url(../images/block3_bg.jpg) 50% 100% no-repeat;
	background-size: cover;
	position: relative;
	z-index: 2;
	min-height: 810px;
	padding-top: 115px;
	&__inner{
		display: flex;
		height: 100%;
		justify-content: flex-end;
		flex-wrap: wrap;
	}
	&__slide{
		padding-right:columns(2,2);
		padding-left:columns(2,2);
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;
	}
	&__image{
		margin-right: 35px;
		padding-top: 60px;
	}
	&__textBox{
		max-width:columns(10,9);
		width: 100%;
	}
	&__title{
		font-weight: 300;
		@include heightLines(60px,1.1,1,false,false);
		text-transform: uppercase;
		color: $cText;
		position: relative;
		&:after{
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background: $cText;
		}
	}
	&__date{
		display: inline-block;
		vertical-align: top;
		font-size: 22px;
		font-weight: 300;
		color: $cMain;
		border-bottom:1px solid $cMain;
		margin-top: 55px;
	}
	&__subtitle{
		margin-top: 38px;
		color: $cText;
		font-size: 40px;
		font-weight: 300;
		text-transform: uppercase;
		display: inline-block;
		vertical-align: top;
		text-decoration: none;
		&:hover{
			color: $cMain;
		}
	}
	&__text{
		font-size: 16px;
		font-weight: 400;
		line-height: (26/16);
		color: $cText;
		padding-top: 15px;
		p{
			margin: 1.5em 0;
			&:last-child{
				margin-bottom: 1em;
			}
		}
	}
	&__link{
		margin-bottom: -35px;
		display: flex;
		justify-content: flex-end;
	}
	
	.owl-carousel .owl-stage-outer{
		padding-bottom: 35px;
		margin-bottom: -35px;
	}
	.owl-nav{
		@include vertical-center;
		left: 0;
		width: 100%;
		height: 0;
		display: flex;
		justify-content: space-between;
		margin-top: -80px;
	}
	.owl-prev, .owl-next{
		width: 103px;
		height: 103px;
		border-radius: 50%;
		background: $cMain;
		font-size: 0;
		display: inline-flex;
		align-items: center;
		@include icon(left_arrow);
		&:hover{
			background: $cDarkGray;
		}
		&:before {
			font-size: 31px;
			color: rgba($cWhite, 0.9);
		}
		&.disabled{
			opacity: 0.5;
		}
	}
	.owl-prev{
		margin-left: -49px;
		justify-content: flex-end;
		padding-right: 25px;
		
	}
	.owl-next {
		margin-right: -49px;
		justify-content: flex-start;
		padding-left: 25px;
		&:before{
			transform: rotate(180deg);
		}
	}

	@media screen and (max-width: $full){
		min-height: 0;
		&__slide{
			padding-left: 60px;
			padding-right: 60px;
			justify-content: center;
		}
		&__title{
			display: flex;
			justify-content: center;
		}
	}
	@media screen and (max-width: $hd){
		padding-top: 80px;
		padding-bottom: 20px;
		&__image{
			width: 35%;
			padding-top: 0;
			img{
				max-width: 100%;
			}
		}
		&__slide{
			padding-left: 37px;
			padding-right: 37px;
			align-items: center;
		}
		&__title{
			font-size: 48px;
			margin-bottom: 20px;
		}
		&__date {
			font-size: 20px;
			margin-top: 35px;
		}
		&__subtitle {
			margin-top: 20px;
			font-size: 32px;
		}
		&__text {
			font-size: 15px;
			padding-top: 0;
		}
		&__link{
			display: none;
		}

		.owl-carousel .owl-stage-outer {
			padding-bottom: 0;
			margin-bottom: 0;
		}
		.owl-nav{
			margin-top: -25px;
		}
		.owl-prev, .owl-next{
			width: 60px;
			height: 60px;
			&:before{
				font-size: 24px;
			}
		}
		.owl-prev {
			margin-left: -30px;
			padding-right: 8px;

		}
		.owl-next {
			margin-right: -30px;
			padding-left: 8px;
			&:before {
				transform: rotate(180deg);
			}
		}
	}
	@media screen and (max-width: $tablet){
		&__image{
			display: none;
		}
		&__date{
			margin-top: 10px;
		}
	}
	@media screen and (max-width: $small){
		padding-top: 20px;
	}
	@media screen and (max-width: $xsmall){
		&__title{
			font-size: 40px;
		}
		&__subtitle{
			font-size: 26px;
		}
		&__slide{
			padding-left: 10px;
			padding-right: 10px;
		}
		
		.owl-nav{
			bottom:auto;
			top: 0;
			margin-top: -75px;
		}
	}
	@media screen and (max-width: $mob){
		&__title{
			font-size: 32px;
			padding-bottom: 5px;
		}
		&__date{
			font-size: 18px;
		}
		&__subtitle{
			font-size: 20px;
		}
		&__text{
			font-size: 14px;
		}
		
		.owl-nav {
			margin-top: -70px;
		}
	}
}

.topFooter{
	padding: 90px 0;
	background: $cSemiGray;
	&__inner{
		padding-right: columns(2, 2);
		padding-left: columns(2, 2);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	@media screen and (max-width: $full){
		padding: 45px 0;
		&__inner{
			padding: 0 20px;
		}
	}
	@media screen and (max-width: $hd){
		padding: 20px 0;
		&__inner{
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	@media screen and (max-width: $mob){
		&__inner{
			padding: 0 10px;
		}
	}
}

.footerMenu{
	column-count:3;
	column-gap:40px;
	&__list{
		list-style: none;
		position: relative;
		border-right: 1px solid $cBorder;
		padding-right: 40px;
		line-height: 1;
		padding-bottom: 15px;
		&:nth-child(3n){
			padding-bottom: 0;
		}
		&:nth-last-child(-n+3) {
			border-right-width: 0;		
		}
	}
	&__link{
		color: rgba($cWhite, 0.3);
		font-size: 14px;
		font-weight: 300;
		text-transform: uppercase;
		text-decoration: none;
		&.active,&:hover{
			color: $cMain;
		}
	}

	@media screen and (max-width: $hd){
		column-count: auto;
		column-gap: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		&__list{
			border: none;
			margin-bottom: 10px;
			padding-bottom: 0;
		}
	}
	@media screen and (max-width: $tablet){
		display: none;
	}
}

.newsletter{
	display: flex;
	align-items: center;
	&__label{
		color: rgba($cWhite,0.6);
		font-size: 24px;
		font-weight: 300;
		line-height: 1;
		text-transform: uppercase;
		margin-right: 80px;
	}
	&__input{
		border: 2px solid $cDarkGray;
		height: 65px;
		width: 295px;
	}
	&__inputfield{
		height: 100%;
		background: none;
		border: none;
		padding: 0 20px;
		width: 100%;
		display: block;
		color: rgba($cWhite, 0.8);
	}
	&__button{
		height: 65px;
		display: flex;
	}

	@media screen and (max-width: $full){
		&__label{
			font-size: 20px;
			margin-right: 40px;
		}
	}
	@media screen and (max-width: $small){
		flex-wrap: wrap;
		justify-content: center;
		&__label{
			width: 100%;
			margin-bottom: 15px;
			text-align: center;
			margin-right: 0;
		}
		&__input{
			height: 45px;
			width: 260px;
		}
		&__button{
			height: 45px;
		}
	}
	@media screen and (max-width: $mob){
		&__input{
			width: 100%;
		}
		&__button{
			width: 100%;
			margin-top: 10px;
			.button{
				width: 100%;
			}
		}
	}
}

.bottomFooter{
	padding: 40px 0;
	background: $cDarkGray;
	color: rgba($cWhite, 0.2);
	font-size: 12px;
	font-weight: 300;
	line-height: 1;
	&__inner{
		padding-right: columns(2, 2);
		padding-left: columns(2, 2);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__desc{
		position: relative;
		padding-left: 45px;
		&:before{
			content: "";
			left: 0;
			@include vertical-center;
			background: url(../images/small_logo.png) 0 0 no-repeat;
			width: 30px;
			height: 30px;
			
		}
	}
	&__copyright{
		
	}
	@media screen and (max-width: $full){
		&__inner{
			padding: 0 20px;
		}
	}
	@media screen and (max-width: $hd) {
		padding: 20px 0;
		&__inner {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__desc{
			text-align: center;
		}
		&__copyright{
			width: 100%;
			text-align: center;
			margin-top: 10px;
		}
	}
}

@import "../partials/defaultMenu";