$fontFamily: 'Lato', sans-serif;

//Example: colors as variables
$cPurple:#5a1973;
$cRoz:#f31c80;
$cWhite:#fff;
$cBez:#ffdbe1;
$clBez:#ffeff2;
$cOrange:#ffa800;
$cAqua:#fafafa;
$cLightGray:#9984a2;
$cBlue:#3b5998;
$clGray:#f6f6f6;
$clBlue:#1894eb;



$cMain: #af9a63;
$cText: #455560;
$cWhite: #fff;
$cDarkGray: #2d3439;
$cSemiGray: #455560;
$cBorder: #57666f;

$column:60;
$gutter:0.3333333;

$full:1600px;
$hd:1280px;
$tablet:1024px;
$small:800px;
$xsmall:600px;
$mob:480px;