include ../mixins/mixins

doctype html
html(lang="pl" dir="ltr")
    head
        include ../partials/head
    body
        block sharedVars
        .wrapper
            .wrapper__inner
                include ../partials/header
                block Container
                include ../partials/footer
        include ../partials/bottom