$bg: #fff;
$border: #e5e5e5;
$hover: $cMain;
$link: $cText;
$button: $cMain;
$menu: $cWhite;

.mobileMenu {
	display: none;
	transform: translateX(100%);
	transition: transform 0.5s ease-in-out;
	position: fixed;
	top: 0;
	right: 0;
	background: $bg;
	width: 256px;
	z-index: 9999;
	height: 100%;
	padding: 0 18px;
	box-sizing: border-box;
	overflow-y: auto;
	&__inner {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		min-height: 100%;
		padding: 70px 0 0 0;
		box-sizing: border-box;
		position: relative;
	}
	&__list {
		margin: 0;
		padding: 0;
	}
	&__item {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 700;
		border-bottom: 1px solid $border;
		list-style: none;
		&:last-child {
			border-bottom-width: 0;
		}
		&.active, &:hover {
			a {
				color: $cMain;
			}
		}
		a {
			display: block;
			color: $cDarkGray;
			text-decoration: none;
			padding: 14px 0 14px 14px;
			box-sizing: border-box;
			&.is-active {
				color: $cMain;
			}
		}
	}
	&.opened {
		transform: translateX(0);
	}
	@media screen and (max-width: $tablet) {
		display: block;
	}
}

.js-close {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 20px;
	right: 10px;
	cursor: pointer;
	color: $cMain;
	z-index: 6;
	&:hover {
		color: $hover;
	}
	font-size: 40px;
	@include icon(closep);
}

.js-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 16;
	display: none;
}

.js-openMenu {
	display: none;
	vertical-align: middle;
	width: 55px;
	height: 55px;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	margin-top: -27.5px;
	right: 10px;
	cursor: pointer;
	background: $button;
	transition: color 0.4s ease-in-out;
	will-change: color;
	@include icon(menu2);
	font-size: 24px;
	text-align: center;
	color: $menu;
	&:before{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}
	&:hover {
		color: $cText;
	}
	@media screen and (max-width: $tablet) {
		display: block;
	}
}