extends ../partials/head
block pageTitle
    - var title = 'Netkata';
    - var desc = 'Description'
    - var pageUrl = '/';
extends ../layouts/main
append sharedVars
    - var pageUrl = '/';
block Container
    .blockSlider
        .owl-carousel.js-mainCarousel
            - for (var i = 0; i < 3; i++) {
            .blockSlider__slide.slider1
                .blockSlider__textBlock
                    .blockSlider__text.js-animate Lorem ipsum dolor sit amet
                    .blockSlider__text.blockSlider__text--smallerColored.js-animate Sed ut perspiciatis unde omnis iste
                .slider1__bg.js-animate
                .slider1__lines.js-animate
                .slider1__particles.js-animate
            - }
        .downArrow.js-downArrow
            
    .blockText
        .blockText__inner
            .blockText__textBox
                .blockText__title Witamy na stronie
                .blockText__subtitle podtytuł lorem ipsum dolor
                .blockText__text
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
                    p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                    
                    p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias.
                .blockText__link
                    a(href='#').circleButton
                        .circleButton__text czytaj więcej »
                            
    .blockNews
        .blockNews__inner
            .blockNews__slide
                .blockNews__textBox
                    .blockNews__title Aktualności
            .blockNews__slider.owl-carousel.js-slideBottom
                - for (var i = 0; i < 3; i++) {
                .blockNews__slide
                    .blockNews__image
                        img(src="images/banner3_medal.png")
                    .blockNews__textBox
                        .blockNews__date 27.10.2015
                        a(href="#").blockNews__subtitle Tytuł newsa, bardzo długi tytuł, który nie mieści się w linijce
                        .blockNews__text
                            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum. 
                            p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                            
                        .blockNews__link
                            a(href="#").circleButton
                                .circleButton__text czytaj więcej »
                - }