@font-face {
	font-family: "myfont";
	src: url('../fonts/myfont.eot');
	src: url('../fonts/myfont.eot?#iefix') format('eot'),
		url('../fonts/myfont.woff2') format('woff2'),
		url('../fonts/myfont.woff') format('woff'),
		url('../fonts/myfont.ttf') format('truetype'),
		url('../fonts/myfont.svg#myfont') format('svg');
}

@mixin icon-styles {
	font-family: "myfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
	line-height:1;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == closep {
		$char: "\E001";
	}
	@if $filename == down_arrow {
		$char: "\E002";
	}
	@if $filename == left_arrow {
		$char: "\E003";
	}
	@if $filename == menu2 {
		$char: "\E004";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}