mixin navItem(url, name, current)
    li(class={active: current})
        a(href=url+".html")= name

mixin defaultMenu(name)
    li.mobileMenu__item
        a(href="#")= name

mixin pageName(url, current, name)
        if url == current
            span= name