include ../partials/defaultMenu

script(type="text/javascript", src="install-sw.js", inline)
script(type="text/javascript", src="js/_modernizr-custom.js", inline)
script(type="text/javascript", src="js/_webfont.js", inline)
    
script(defer, type="text/javascript", src="js/components.min.js")
script(defer, type="text/javascript", src="js/partials.min.js")
script(defer, type="text/javascript", src="js/scripts.min.js")

script.
    WebFont.load({
        google: {
            families: ['Lato:300,400,700,900:latin-ext']
        },
        timeout: 2000
    });