- var bottomMenu = ["Strona główna", "produkty", "media", "O firmie", "znajdź klinikę", "aktualności", "Kontakt:", "general", "serwis"];
.mobileMenu
    .js-close
    .mobileMenu__inner
        ul.mobileMenu__list
            each i in bottomMenu
                +defaultMenu(i)
.js-overlay