footer.footer
- var bottomMenu = ["Strona główna", "produkty", "media", "O firmie", "znajdź klinikę", "aktualności", "Kontakt:", "general", "serwis"];
    .topFooter
        .topFooter__inner
            ul.footerMenu
                - for item in bottomMenu
                    li.footerMenu__list
                        a(href="#").footerMenu__link= item
                    
            form.newsletter(method="post", action="")
                label.newsletter__label(for="email") Newsletter: 
                .newsletter__input
                    input(type="email", required, name="email", id="email").newsletter__inputfield
                .newsletter__button
                    input(type="submit", value="zapisz się »").button
                    
    .bottomFooter
        .bottomFooter__inner
            .bottomFooter__desc NETKATA S.C. ul. Nowy Świat 5/11, 00-492 Warszawa, tel +48 505 034 253, e-mail: info@netkata.com
            .bottomFooter__copyright Copyright by © NETKATA 2016
        
    