meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
block pageTitle
title #{title}
meta(name="description" lang="pl-pl" content=desc)
= '\n'

meta(property='og:title', content= title)
meta(property='og:type', content='website')
meta(property="og:site_name" content="blabla.pl")
meta(property='og:url', content= site + pageUrl)
meta(property='og:image', content='/images/logo.png')
meta(property="og:description" content= desc)
= '\n'

meta(name="theme-color", content="#fff")
meta(name="msapplication-navbutton-color", content="#fff")
meta(name="apple-mobile-web-app-status-bar-style", content="#fff")

// Touch
meta(name="format-detection" content="telephone=no")
meta(name="format-detection" content="address=no")
= '\n'

meta(name="HandheldFriendly" content="True")
meta(name="MobileOptimized" content="320")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=5.0, user-scalable=no, initial-scale=1")
= '\n'

link(rel="canonical", href=site + pageUrl)

// saved from url=(0014)about:internet
='\n\t\t'
<!--[if IE]><meta http-equiv="imagetoolbar" content="no"><![endif]-->
='\n\t\t'
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
= '\n'

link(rel="stylesheet", href="css/components.min.css")
link(rel="stylesheet", href="css/style.min.css")