header.header
    .header__logo
        a(href="/")
            img(src="images/big_logo.png", alt="Logo")
    .header__menu
        - var topMenu = ["Home", "Produkty", "O firmie", "Aktualności", "Media", "Znajdź klinikę", "Kontakt", "Szukaj"];
        ul.topMenu
            - for item in topMenu
                li.topMenu__list
                    a(href="#", title=item).topMenu__link= item
    .js-openMenu
                